
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 97vh;
    background-image: linear-gradient(to bottom right, rgb(3, 35, 41), rgb(39, 79, 92));
}

