.introContent{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.mainContent{
    flex: 4;
    margin-left: 20px;
    margin-right: 20px;    
}

.heading{
    font-size: 50px;
    font-weight: bold;
}

.description{
    margin-top: 20px;
}

.learnMore{
    margin-top: 50px;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    background-color: aliceblue;
    cursor: pointer;
    /* display: flex;
    align-items: center; */
}

.learnMore > button {
    cursor: pointer;
    padding: 10px;
    margin-left: 17px;
    margin-top: 3px;
    background-color: transparent;
    border: none;
}

.displayImage{
    flex: 5;
    margin-left: 50px;
    height: auto;
    width: auto;
}